body {font-family: sans-serif; background-image: url("https://www.iwantmorecomics.com/content/backgrounds/18.jpg");}
strong{ color: yellow; font-family: serif;}
img{ border: medium solid yellow; margin-top: 5em;}
hr{color: yellow;}
h2{font-family: serif; color: yellow;}
a{font-family: color: red;}


