body { font-family: serif; background-image: url("https://www.iwantmorecomics.com/content/backgrounds/18.jpg");}
h1{color: yellow; text-align: center; font-family: serif;}
h2 {color: yellow; border: medium solid yellow; width: 20%}
h3{color: yellow; font-family: serif;}
hr{color: yellow;}
th{ font-family: serif; width: 15px;} 
td img{border: medium solid yellow;}



/* note may want to a background image/ background-image url("image");*/

