body { font-family: serif; background-image: url("https://www.iwantmorecomics.com/content/backgrounds/18.jpg");}
h1{color: yellow; text-align: center; font-family: serif;}
h2 {color: yellow; border: medium solid yellow; width: 20%}
h3{color: yellow; font-family: serif;}
hr{color: yellow;}
table { width: 100%; text-align: center; }
a:link{ color: yellow; padding-right: 0px;}
a:visited{ color: yellow;} 
a:hover{color: red;}
a:active{color: blue;}
img:hover{border: medium solid red; }
img:active{border: medium solid blue;}
td img{border: medium solid yellow; }





